
#banner {
    background-image: url("picture/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

h1{
    font-size: 60px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-size: 30px;
    color: grey;
}

th{
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}